@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

main {
  text-align: center;
}
#Timer {
  background-image: url(https://img.itch.zone/aW1nLzEwMDc5MDQ0LnBuZw==/347x500/FMT9hr.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 650px;
  position: relative;
  margin: 0 auto;
  filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
}
p {
  font-size: 100px;
}
#numbers {
  position: absolute;
  top: 90px;
  left: 250px;
  color: greenyellow;
  font-family: "Bungee Shade";
}

.novenove {
  font-size: 50px;

  top: 160px !important;
  left: 265px !important;
}
